<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu</title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" th:src="@{/javascript/dynamicTable.js}"></script>
	<link rel="stylesheet" th:href="@{/css/menus.css}"> 
	<script type="text/javascript" th:src="@{/javascript/pageTransition.js}"></script>
	
	<!-- 
	<script type="text/javascript" th:src="@{/javascript/jquery-1.6.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/javascript/jquery.maphilight.js}"></script>
	<script type="text/javascript">
	    $(function() {
	        $('.map').maphilight({ stroke: false, fillColor: 'ad7a4b', fillOpacity: 0.1 });
	    });
	</script>
	 -->
	<script>
	$(document).ready( function(){
		$('.content').addClass('hidden-text');
	});
</script>
	
</head>
<body>

	<div class="wrapper">
		<nav class="main-nav">

	        <map name="navMap">
	            <area href="/ingredient-list" shape="poly" coords="192,39,10,39,1,26,0,11,7,1,190,0,184,9,184,23"/>
	            <area href="/recipe-list" shape="poly" coords="195,37,195,93,214,105,347,105,366,96,365,68,337,66,318,66,299,48,281,58,248,42,234,43"/> 
	            <area href="/menu-list" shape="poly" coords="500,72,523,74,552,56,566,49,610,49,622,43,647,42,674,40,676,91,660,106,510,106,499,92"/>
	            <area href="/support" shape="poly" coords="674,0,678,17,675,40,863,39,868.0000305175781,17,865.0000305175781,0"/> 
	            <area href="/" shape="poly" coords="195,0,188,11,189,25,197,33,212,28,216,36,232,35,248,38,284,56,294,41,308,44,325,61,378,67,385,54,392,68,465,68,471,60,490,67,525,66,558,51,575,46,605,45,617,37,653,37,663,30,676,28,677,14,667,0"/>   
        	</map>

	        <div>
	            <img th:src="@{/img/nav.png}" usemap="#navMap" class="map">
	        </div>

	    </nav>

		<header>		

		</header>
			    		    
		 <main class="flex-container">
		 	
<section class="scroll">

				<section class="content">
					
				<form action="#" th:action="@{/menu-edit}" th:object="${menu}" method="POST" name="menuForm">
				 
				 	<input hidden readonly type="text" th:field="*{menuId}" id="menuId" placeholder="menu ID">
				 	
					<h3>
						Menu - <input type="text" th:field="*{menuName}" id="menuName" placeholder="Menu name...">
						<a th:href="@{/shopping-list/{menuId}(menuId=${menu.menuId})}" class="no-decoration">Shopping list</a> 
					</h3>

				    <table width="400" border="0" cellspacing="0" cellpadding="5" id="menuTable">
				        
				        <thead>
				        </thead>
				       
				        <tbody id="dynamic">
				            	
				            <th:block th:unless="*{recipes}">	
					            <tr id="tableRow">               
					                <td>
					                	<input hidden readonly type="text" class="table-input-id" placeholder="ID..." name="id" id='id-recipe'>
					                    <input type="text" placeholder="Recipe..." class="table-input-name" name="name" id='recipe' maxlength="70">
					                </td>            
					                <td class="no-border">
					                	<button type="button" class="del delete no-border"></button>
					                </td>
					            </tr>
				            </th:block>
				            	            
				            <tr id="tableRow" th:each="recipeRow, state: *{recipes}">               
				                <td>
				                	<input hidden readonly type="text" class="table-input-id"  placeholder="ID..." name="id" th:id="${'id-recipe' + state.index}" th:field="*{recipes[__${state.index}__].recipeId}">
				                    <input type="text" placeholder="Recipe..." class="table-input-name" name="name" th:id="${'recipe' + state.index}" th:field="*{recipes[__${state.index}__].recipeName}" maxlength="70">
				                </td>            
				                <td class="no-border">
				                	<button type="button" class="del delete no-border"></button>
				                </td>
				            </tr>

				            <tr>
				            	<td>
									<button type="button" class="add no-border"></button>
								</td>
				            </tr>

				        </tbody>

				    </table>

				 	<input type="submit" class="save" value="Save">

				</form>

			    </section>
			    	
			</section>

		 </main>

		<footer>
			
		</footer>

		<script>
		    new DynamicTable(document.getElementById("dynamic"), "http://localhost:8080/menufactory/recipes-autocomplete");
		</script>
	</div>

</body>
</html>
