<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Recipe</title>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" th:href="@{/css/recipes.css}"> 	
</head>
<body id="main-canvas">

	<script type="text/javascript">document.getElementById('main-canvas').style.display = "none";</script>
	
	<div class="wrapper">

		<nav class="main-nav">

	        <map name="navMap">
	            <area href="/ingredient-list" shape="poly" coords="192,39,10,39,1,26,0,11,7,1,190,0,184,9,184,23"/>
	            <area href="/recipe-list" shape="poly" coords="195,37,195,93,214,105,347,105,366,96,365,68,337,66,318,66,299,48,281,58,248,42,234,43"/> 
	            <area href="/menu-list" shape="poly" coords="500,72,523,74,552,56,566,49,610,49,622,43,647,42,674,40,676,91,660,106,510,106,499,92"/>
	            <area href="/support" shape="poly" coords="674,0,678,17,675,40,863,39,868.0000305175781,17,865.0000305175781,0"/> 
	            <area href="/" shape="poly" coords="195,0,188,11,189,25,197,33,212,28,216,36,232,35,248,38,284,56,294,41,308,44,325,61,378,67,385,54,392,68,465,68,471,60,490,67,525,66,558,51,575,46,605,45,617,37,653,37,663,30,676,28,677,14,667,0"/>   
        	</map>

	        <div>
	            <img th:src="@{/img/nav.png}" usemap="#navMap" class="map">
	        </div>

	    </nav>

		<header>

		</header>
			    		    
		<main class="flex-container">
		 	
			<section class="scroll">

				<section class="content">
					
					<form action="#" th:action="@{/recipe-edit}" th:object="${recipe}" method="POST" name="recipeForm">
					 
						<h3>
							Recipe - <input type="text" th:field="*{recipeName}" id="recipeName" placeholder="Recipe name..." class="itemName">
						</h3>

					 	<input hidden readonly type="text" th:field="*{recipeId}" id="recipeId" placeholder="recipe ID">
					 		

					    <table id="ingredientTable">
					        
					        <thead>
					        </thead>
					       
					        <tbody id="dynamic">
					            
					            <th:block th:unless="${recipe.ingredientList}">
						            <tr id="tableRow">	               
						                <td>
						                	<input hidden readonly type="text" placeholder="ID..." id="id-ingredient" name="ingredient-id">
						                    <input type="text" placeholder="Ingredient..." class="table-input-name" id="ingredient" autocomplete="off" name="ingredient-name">
						                </td>  
						                <td>
						                	<input type="text" placeholder="Qty..." id="quantity-ingredient" name="ingredient-quantity" class="input-quantity" maxlength="6">
						                </td>           
						                <td class="no-border">
						                	<button type="button" class="del delete no-border"></button>
						                </td>
						            </tr>
						        </th:block> 
					            
					            <tr id="tableRow" th:each="ingredientList, state: ${recipe.ingredientList}"> 	               
					                <td>
					                	<input hidden readonly type="text" placeholder="ID..." th:id="${'id-ingredient' + state.index}" name="ingredient-id" th:value="${ingredientList.ingredient.ingredientId}">
					                    <input type="text" maxlength="70" placeholder="Ingredient..." class="table-input-name" th:id="${'ingredient' + state.index}" autocomplete="off" name="ingredient-name" th:value="${ingredientList.ingredient.ingredientName}">
					                </td>  
					                <td>
					                	<input type="text" placeholder="Qty..." th:id="${'quantity-ingredient' + state.index}" name="ingredient-quantity" th:value="${ingredientList.ingredientQuantity}" class="input-quantity" maxlength="6">
					                </td>           
					                <td class="no-border">
					                	<button type="button" class="del delete no-border"></button>
					                </td>
					            </tr>	 

					            <tr>
					            	<td>
										<button type="button" class="add no-border"></button>
									</td>
					            </tr>

					        </tbody>

					    </table>

				    	<textarea class="input-description" placeholder="Description..." spellcheck="false"></textarea>

					 	<input type="button" value="Save" class="save" id="saveButton">

					</form>

			    </section>
			    	
			</section>

		 </main>


		<footer>
			
		</footer>

</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" th:src="@{/javascript/dynamicTable.js}"></script>
	<script defer type="text/javascript" th:src="@{/javascript/pageTransition.js}"></script>
	<script defer type="text/javascript" th:src="@{/javascript/setHiddenTextClass.js}"></script>
    <script defer type="text/javascript" th:src="@{/javascript/sendFormData.js}"></script>

	<script>
	    new DynamicTable(document.getElementById("dynamic"),
	     "https://menufactory.herokuapp.com/ingredients-autocomplete");
	</script>

</body>
</html>
